
@{
    Layout = null;
}
<nav class="navbar navbar-dark bg-primary">
    <h1>Exemplo com Bootstrap</h1>
</nav>

@Styles.Render("~/Content/bootstrap.css")

<p>@Html.ActionLink("Início", "Index", "Home")</p>