<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleBacno1.Properties.Settings.conexao" connectionString="Data Source=DESKTOP-JQLG7H5;Initial Catalog=dbEXEMPLO;User ID=userBanco;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>